In [177]:
import os
import pandas as pd

# Define the base directory for the data
base_dir = os.path.abspath('../')  # Adjusted to correct path
# Function to check the structure of accident and traffic count data for each year
def check_data_structure(year):
    # Define paths to accident and traffic count data
    accident_path = os.path.join(base_dir, year, 'accidents')
    traffic_path = os.path.join(base_dir, year, 'count')
    
    try:
        # Load accident data
        accident_files = [f for f in os.listdir(accident_path) if f.endswith('.csv')]
        for file in accident_files:
            print(f"Year {year} - Accident Data: {file}")
            accident_df = pd.read_csv(os.path.join(accident_path, file), encoding='ISO-8859-8')
            print("Accident Data Columns:")
            print(accident_df.columns)
            print(accident_df.head())
            print("\n")
    except FileNotFoundError:
        print(f"Accident data folder not found for year {year}")
    
    try:
        # Load traffic count data
        traffic_files = [f for f in os.listdir(traffic_path) if f.endswith('.csv')]
        for file in traffic_files:
            print(f"Year {year} - Traffic Count Data: {file}")
            traffic_df = pd.read_csv(os.path.join(traffic_path, file), encoding='ISO-8859-8')
            print("Traffic Count Data Columns:")
            print(traffic_df.columns)
            print(traffic_df.head())
            print("\n")
    except FileNotFoundError:
        print(f"Traffic count data folder not found for year {year}")

# List of years to check
years = ['2014', '2015', '2016', '2017', '2018', '2020', '2021']

# Check the structure for each year
for year in years:
    check_data_structure(year)

Year 2014 - Accident Data: H20141332Accdatamekuzar.csv
Accident Data Columns:
Index(['pk_teuna_fikt', 'sug_tik', 'THUM_GEOGRAFI', 'SUG_DEREH',
       'SEMEL_YISHUV', 'REHOV1', 'REHOV2', 'BAYIT', 'ZOMET_IRONI', 'KVISH1',
       'KVISH2', 'KM', 'ZOMET_LO_IRONI', 'YEHIDA', 'SHNAT_TEUNA',
       'HODESH_TEUNA', 'SHAA', 'SUG_YOM', 'YOM_LAYLA', 'YOM_BASHAVUA',
       'HUMRAT_TEUNA', 'SUG_TEUNA', 'HAD_MASLUL', 'RAV_MASLUL',
       'MEHIRUT_MUTERET', 'TKINUT', 'ROHAV', 'SIMUN_TIMRUR', 'TEURA',
       'MEZEG_AVIR', 'PNE_KVISH', 'SUG_EZEM', 'MERHAK_EZEM', 'LO_HAZA',
       'OFEN_HAZIYA', 'MEKOM_HAZIYA', 'KIVUN_HAZIYA', 'MAHOZ', 'NAFA',
       'EZOR_TIVI', 'MAAMAD_MINIZIPALI', 'ZURAT_ISHUV', 'STATUS_IGUN', 'X',
       'Y'],
      dtype='object')
   pk_teuna_fikt  sug_tik  THUM_GEOGRAFI  SUG_DEREH  SEMEL_YISHUV  REHOV1  \
0     2014000001        1              1          1          7400   303.0
1     2014000002        1              1          2          2650   390.0
2     2014000003        1              1          4             0     NaN
3     2014000004        1              1          1          5000  1555.0
4     2014000006        1              1          2          7600   505.0

   REHOV2   BAYIT  ZOMET_IRONI  KVISH1  ...  MEKOM_HAZIYA  KIVUN_HAZIYA  \
0   306.0     NaN     260021.0     NaN  ...             3             1
1     NaN  9999.0          NaN     NaN  ...             3             9
2     NaN     NaN          NaN    20.0  ...             2             2
3  1511.0     NaN   11920611.0     NaN  ...             3             1
4     NaN    19.0          NaN     NaN  ...             3             1

   MAHOZ  NAFA  EZOR_TIVI  MAAMAD_MINIZIPALI  ZURAT_ISHUV  STATUS_IGUN  \
0      4    41        411                0.0           13            1
1      5    51        511                0.0           16            3
2      5    53        513               99.0           99            1
3      5    51        511                0.0           13            1
4      2    24        246                0.0           16            1

          X         Y
0  187117.0  693833.0
1  185113.0  672015.0
2  177520.0  659502.0
3  179727.0  663713.0
4  207503.0  759266.0

[5 rows x 45 columns]


Year 2014 - Accident Data: H20141332Dictionary.csv
Accident Data Columns:
Index(['MS_TAVLA', 'KOD', 'TEUR'], dtype='object')
   MS_TAVLA  KOD           TEUR
0         0    1  יחידה משטרתית
1         0    2       סוג הדרך
2         0    4   חומרת התאונה
3         0    5     סוג התאונה
4         0    9      צורת הדרך


Year 2014 - Traffic Count Data: 2014109h1tabmef.csv
Traffic Count Data Columns:
Index(['shana', 'kvish', 'keta', 'maslul', 'hodesh', 'taarich', 'yom', 'shaa',
       'nefah', 'status'],
      dtype='object')
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2014      1    10       1       9        7    1     0   1936     NaN
1   2014      1    10       1       9        7    1     1    966     NaN
2   2014      1    10       1       9        7    1     2    737     NaN
3   2014      1    10       1       9        7    1     3    596     NaN
4   2014      1    10       1       9        7    1     4    479     NaN


Year 2014 - Traffic Count Data: h20141091roadsnonurban.csv
Traffic Count Data Columns:
Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'ספירות תנועה 2014 PUF', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')
  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3       ספירות תנועה 2014 PUF  \
0        NaN        NaN        NaN        NaN  מילון קטעי דרך לא-עירוניים
1        NaN        NaN        NaN        NaN                         NaN
2        NaN        NaN        NaN        NaN                         NaN
3        NaN        NaN        NaN        NaN                         NaN
4        NaN        NaN        NaN        NaN                         NaN

  Unnamed: 5 Unnamed: 6 Unnamed: 7
0        NaN        NaN        NaN
1        NaN        NaN        NaN
2        NaN        NaN        NaN
3        NaN        NaN        NaN
4        NaN        NaN        NaN


Year 2015 - Accident Data: H20151332Accdatamekuzar.csv
Accident Data Columns:
Index(['pk_teuna_fikt', 'sug_tik', 'THUM_GEOGRAFI', 'SUG_DEREH',
       'SEMEL_YISHUV', 'REHOV1', 'REHOV2', 'BAYIT', 'ZOMET_IRONI', 'KVISH1',
       'KVISH2', 'KM', 'ZOMET_LO_IRONI', 'YEHIDA', 'SHNAT_TEUNA',
       'HODESH_TEUNA', 'SHAA', 'SUG_YOM', 'YOM_LAYLA', 'YOM_BASHAVUA',
       'HUMRAT_TEUNA', 'SUG_TEUNA', 'HAD_MASLUL', 'RAV_MASLUL',
       'MEHIRUT_MUTERET', 'TKINUT', 'ROHAV', 'SIMUN_TIMRUR', 'TEURA',
       'MEZEG_AVIR', 'PNE_KVISH', 'SUG_EZEM', 'MERHAK_EZEM', 'LO_HAZA',
       'OFEN_HAZIYA', 'MEKOM_HAZIYA', 'KIVUN_HAZIYA', 'MAHOZ', 'NAFA',
       'EZOR_TIVI', 'MAAMAD_MINIZIPALI', 'ZURAT_ISHUV', 'STATUS_IGUN', 'X',
       'Y'],
      dtype='object')
   pk_teuna_fikt  sug_tik  THUM_GEOGRAFI  SUG_DEREH  SEMEL_YISHUV  REHOV1  \
0     2015000000        1              1          4             0     NaN
1     2015000022        1              1          2          8300  6003.0
2     2015000035        1              1          1          9000   102.0
3     2015000038        1              1          2          9100   409.0
4     2015000043        1              1          2          7300   118.0

   REHOV2   BAYIT  ZOMET_IRONI  KVISH1  ...  MEKOM_HAZIYA  KIVUN_HAZIYA  \
0     NaN     NaN          NaN     NaN  ...             0             9
1     NaN  9999.0          NaN     NaN  ...             0             9
2   101.0     NaN     150021.0     NaN  ...             1             2
3     NaN     6.0          NaN     NaN  ...             0             9
4     NaN  9999.0          NaN     NaN  ...             0             9

   MAHOZ  NAFA  EZOR_TIVI  MAAMAD_MINIZIPALI  ZURAT_ISHUV  STATUS_IGUN  \
0      9    99        999               99.0           99            9
1      4    44        442                0.0           13            3
2      6    62        623                0.0           13            1
3      2    24        245                0.0           15            1
4      2    23        237                0.0           25            3

          X         Y
0       NaN       NaN
1  181911.0  654345.0
2  182702.0  573212.0
3  209441.0  767370.0
4  229395.0  734603.0

[5 rows x 45 columns]


Year 2015 - Accident Data: H20151332Dictionary.csv
Accident Data Columns:
Index(['MS_TAVLA', 'KOD', 'TEUR'], dtype='object')
   MS_TAVLA  KOD           TEUR
0         0    1  יחידה משטרתית
1         0    2       סוג הדרך
2         0    4   חומרת התאונה
3         0    5     סוג התאונה
4         0    9      צורת הדרך


Year 2015 - Traffic Count Data: H20151091RoadsNonUrban.csv
Traffic Count Data Columns:
Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'ספירות תנועה 2015 PUF', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')
  Unnamed: 0 Unnamed: 1 Unnamed: 2         Unnamed: 3  \
0        NaN        NaN        NaN                NaN
1      kvish       keta      km_me         shem_km_me
2          1         10          0  מחלף קיבוץ גלויות
3          1         52       18.9        מחלף בן שמן
4          1         56         25          מחלף ענבה

        ספירות תנועה 2015 PUF  Unnamed: 5 Unnamed: 6             Unnamed: 7
0  מילון קטעי דרך לא-עירוניים         NaN        NaN                    NaN
1                       ad_km  shem_km_ad  km_hazava            teur_hazava
2                         4.6   מחלף גנות        4.5          ליד צומת גנות
3                          25   מחלף ענבה         24  בקילומטר העשרים וארבע
4                        33.6  מחלף לטרון         26              גלאי קבוע


Year 2015 - Traffic Count Data: H20151091TabMef_1.csv
Traffic Count Data Columns:
Index(['shana', 'kvish', 'keta', 'maslul', 'hodesh', 'taarich', 'yom', 'shaa',
       'nefah', 'status'],
      dtype='object')
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2015      1    10       1       6       15    2     0   1346     NaN
1   2015      1    10       1       6       15    2     1    788     NaN
2   2015      1    10       1       6       15    2     2    626     NaN
3   2015      1    10       1       6       15    2     3    652     NaN
4   2015      1    10       1       6       15    2     4    597     NaN


Year 2015 - Traffic Count Data: H20151091TabMef_2.csv
Traffic Count Data Columns:
Index(['shana', 'kvish', 'keta', 'maslul', 'hodesh', 'taarich', 'yom', 'shaa',
       'nefah', 'status'],
      dtype='object')
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2015    222    10       0       2       17    3     0     39     NaN
1   2015    222    10       0       2       17    3     1     20     NaN
2   2015    222    10       0       2       17    3     2     14     NaN
3   2015    222    10       0       2       17    3     3     16     NaN
4   2015    222    10       0       2       17    3     4      9     NaN


Year 2016 - Accident Data: H20161332Accdatamekuzar.csv
Accident Data Columns:
Index(['pk_teuna_fikt', 'sug_tik', 'THUM_GEOGRAFI', 'SUG_DEREH',
       'SEMEL_YISHUV', 'REHOV1', 'REHOV2', 'BAYIT', 'ZOMET_IRONI', 'KVISH1',
       'KVISH2', 'KM', 'ZOMET_LO_IRONI', 'YEHIDA', 'SHNAT_TEUNA',
       'HODESH_TEUNA', 'SHAA', 'SUG_YOM', 'YOM_LAYLA', 'YOM_BASHAVUA',
       'HUMRAT_TEUNA', 'SUG_TEUNA', 'HAD_MASLUL', 'RAV_MASLUL',
       'MEHIRUT_MUTERET', 'TKINUT', 'ROHAV', 'SIMUN_TIMRUR', 'TEURA',
       'MEZEG_AVIR', 'PNE_KVISH', 'SUG_EZEM', 'MERHAK_EZEM', 'LO_HAZA',
       'OFEN_HAZIYA', 'MEKOM_HAZIYA', 'KIVUN_HAZIYA', 'MAHOZ', 'NAFA',
       'EZOR_TIVI', 'MAAMAD_MINIZIPALI', 'ZURAT_ISHUV', 'STATUS_IGUN', 'X',
       'Y'],
      dtype='object')
   pk_teuna_fikt  sug_tik  THUM_GEOGRAFI  SUG_DEREH  SEMEL_YISHUV  REHOV1  \
0     2016000001        1              1          1          5000   714.0
1     2016000008        1              1          2          3000  5405.0
2     2016000014        1              1          2          8300   975.0
3     2016000020        1              1          1          9100   458.0
4     2016000024        1              1          2          7400   847.0

   REHOV2   BAYIT  ZOMET_IRONI  KVISH1  ...  MEKOM_HAZIYA  KIVUN_HAZIYA  \
0   720.0     NaN   80150504.0     NaN  ...             0             9
1     NaN     4.0          NaN     NaN  ...             0             9
2     NaN  9999.0          NaN     NaN  ...             0             9
3   467.0     NaN    8850006.0     NaN  ...             0             9
4     NaN  9999.0          NaN     NaN  ...             0             9

   MAHOZ  NAFA  EZOR_TIVI  MAAMAD_MINIZIPALI  ZURAT_ISHUV  STATUS_IGUN  \
0      5    51        511                0.0           13            1
1      1    11        111                0.0           12            3
2      4    44        442                0.0           13            3
3      2    24        245                0.0           15            1
4      4    41        411                0.0           13            3

          X         Y
0  179175.0  665225.0
1  221605.0  629186.0
2  175161.0  656287.0
3  208922.0  766064.0
4  188386.0  690385.0

[5 rows x 45 columns]


Year 2016 - Accident Data: H20161332Dictionary.csv
Accident Data Columns:
Index(['MS_TAVLA', 'KOD', 'TEUR'], dtype='object')
   MS_TAVLA  KOD           TEUR
0         0    1  יחידה משטרתית
1         0    2       סוג הדרך
2         0    4   חומרת התאונה
3         0    5     סוג התאונה
4         0    9      צורת הדרך


Year 2016 - Traffic Count Data: H20161091RoadsNonUrban.csv
Traffic Count Data Columns:
Index(['כביש', 'קטע', 'ק"מ מ-', 'שם מ-', 'ק"מ עד', 'שם עד', 'ק"מ הצבה', 'הצבה',
       'X של מקום ההצבה', 'Y של מקום ההצבה'],
      dtype='object')
   כביש  קטע  ק"מ מ-              שם מ-  ק"מ עד            שם עד  ק"מ הצבה  \
0     1   10     0.0  מחלף קיבוץ גלויות    46.0        מחלף גנות      45.0
1     1   52   189.0        מחלף בן שמן   250.0        מחלף ענבה     231.0
2     1   56   250.0          מחלף ענבה   336.0       מחלף לטרון     260.0
3     1   60   336.0         מחלף לטרון   385.0    מחלף שער הגיא     365.0
4     2   70   617.0        מחלף קיסריה   755.0  מחלף זכרון יעקב     682.0

                    הצבה  X של מקום ההצבה  Y של מקום ההצבה
0          ליד צומת גנות              NaN              NaN
1  בקילומטר העשרים ושלוש         193638.0         647061.0
2              גלאי קבוע              NaN              NaN
3   2.92 ק"מ ממחלף לטרון         200817.0         636966.0
4  6.53 ק"מ ממחלף קיסריה         192262.0         714572.0


Year 2016 - Traffic Count Data: H20161091TabMef.csv
Traffic Count Data Columns:
Index(['shana', 'kvish', 'keta', 'maslul', 'hodesh', 'taarich', 'yom', 'shaa',
       'nefah', 'status'],
      dtype='object')
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2016      1    10       1       9       11    1     0   1710     NaN
1   2016      1    10       1       9       11    1     1    934     NaN
2   2016      1    10       1       9       11    1     2    800     NaN
3   2016      1    10       1       9       11    1     3    637     NaN
4   2016      1    10       1       9       11    1     4    588     NaN


Year 2017 - Accident Data: H20171332AccdataMEKUZAR.csv
Accident Data Columns:
Index(['pk_teuna_fikt', 'sug_tik', 'THUM_GEOGRAFI', 'SUG_DEREH',
       'SEMEL_YISHUV', 'REHOV1', 'REHOV2', 'BAYIT', 'ZOMET_IRONI', 'KVISH1',
       'KVISH2', 'KM', 'ZOMET_LO_IRONI', 'YEHIDA', 'SHNAT_TEUNA',
       'HODESH_TEUNA', 'SHAA', 'SUG_YOM', 'YOM_LAYLA', 'YOM_BASHAVUA',
       'HUMRAT_TEUNA', 'SUG_TEUNA', 'HAD_MASLUL', 'RAV_MASLUL',
       'MEHIRUT_MUTERET', 'TKINUT', 'ROHAV', 'SIMUN_TIMRUR', 'TEURA',
       'MEZEG_AVIR', 'PNE_KVISH', 'SUG_EZEM', 'MERHAK_EZEM', 'LO_HAZA',
       'OFEN_HAZIYA', 'MEKOM_HAZIYA', 'KIVUN_HAZIYA', 'MAHOZ', 'NAFA',
       'EZOR_TIVI', 'MAAMAD_MINIZIPALI', 'ZURAT_ISHUV', 'STATUS_IGUN', 'X',
       'Y'],
      dtype='object')
   pk_teuna_fikt  sug_tik  THUM_GEOGRAFI  SUG_DEREH  SEMEL_YISHUV  REHOV1  \
0     2017000013        1              1          4             0     NaN
1     2017000015        1              1          2          8300  1200.0
2     2017000030        1              1          1          4000   210.0
3     2017000044        1              1          2          5000  2524.0
4     2017000064        1              1          2          8600   903.0

   REHOV2  BAYIT  ZOMET_IRONI  KVISH1  ...  MEKOM_HAZIYA  KIVUN_HAZIYA  MAHOZ  \
0     NaN    NaN          NaN   461.0  ...             0             9      4
1     NaN   18.0          NaN     NaN  ...             3             9      4
2   203.0    NaN     180131.0     NaN  ...             0             9      3
3     NaN  126.0          NaN     NaN  ...             0             9      5
4     NaN   60.0          NaN     NaN  ...             0             9      5

   NAFA  EZOR_TIVI  MAAMAD_MINIZIPALI  ZURAT_ISHUV  STATUS_IGUN         X  \
0    42        422               99.0           99            1  188576.0
1    44        442                0.0           13            1  178907.0
2    31        311                0.0           13            1  206413.0
3    51        511                0.0           13            1  180853.0
4    51        512                0.0           14            1  183405.0

          Y
0  659626.0
1  652870.0
2  746463.0
3  664685.0
4  666132.0

[5 rows x 45 columns]


Year 2017 - Accident Data: H20171332Dictionary.csv
Accident Data Columns:
Index(['MS_TAVLA', 'KOD', 'TEUR'], dtype='object')
   MS_TAVLA  KOD           TEUR
0         0    1  יחידה משטרתית
1         0    2       סוג הדרך
2         0    4   חומרת התאונה
3         0    5     סוג התאונה
4         0    9      צורת הדרך


Year 2017 - Traffic Count Data: h20171092roadsnonurban.csv
Traffic Count Data Columns:
Index(['כביש', 'קטע', 'ק"מ מ-', 'שם מ-', 'ק"מ עד', 'שם עד', 'ק"מ הצבה', 'הצבה',
       'X של מקום ההצבה', 'Y של מקום ההצבה'],
      dtype='object')
   כביש  קטע  ק"מ מ-                        שם מ-  ק"מ עד            שם עד  \
0     1   52    18.9                  מחלף בן שמן    25.0        מחלף ענבה
1     1   56    25.0                    מחלף ענבה    33.6       מחלף לטרון
2     1  872    64.0  כניסה לדרך האלוף עוזי נרקיס    74.7      מחלף אדומים
3     2   52    43.8                   מחלף נתניה    51.0        מחלף ינאי
4     2   70    61.7                  מחלף קיסריה    75.5  מחלף זכרון יעקב

   ק"מ הצבה                               הצבה  X של מקום ההצבה  \
0      23.1              בקילומטר העשרים ושלוש         193645.0
1      26.0                          גלאי קבוע              NaN
2      70.3  5.69 ק"מ מדר' מעלה אדומים שד' משה         225579.0
3      49.4                1.63 ק"מ ממחלף ינאי         187331.0
4      68.2              6.53 ק"מ ממחלף קיסריה         192262.0

   Y של מקום ההצבה
0         647061.0
1              NaN
2         632400.0
3         697092.0
4         714572.0


Year 2017 - Traffic Count Data: h20171092tabmef.csv
Traffic Count Data Columns:
Index(['shana', 'kvish', 'keta', 'maslul', 'hodesh', 'taarich', 'yom', 'shaa',
       'nefah', 'status'],
      dtype='object')
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2017      1    52       1       2        5    1     0    839     NaN
1   2017      1    52       1       2        5    1     1    459     NaN
2   2017      1    52       1       2        5    1     2    338     NaN
3   2017      1    52       1       2        5    1     3    318     NaN
4   2017      1    52       1       2        5    1     4    403     NaN


Year 2018 - Accident Data: h20181331accdatwebsite.csv
Accident Data Columns:
Index(['pk_teuna_fikt', 'sug_tik', 'THUM_GEOGRAFI', 'SUG_DEREH',
       'SEMEL_YISHUV', 'REHOV1', 'REHOV2', 'BAYIT', 'ZOMET_IRONI', 'KVISH1',
       'KVISH2', 'KM', 'ZOMET_LO_IRONI', 'YEHIDA', 'SHNAT_TEUNA',
       'HODESH_TEUNA', 'SHAA', 'SUG_YOM', 'YOM_LAYLA', 'YOM_BASHAVUA',
       'HUMRAT_TEUNA', 'SUG_TEUNA', 'HAD_MASLUL', 'RAV_MASLUL',
       'MEHIRUT_MUTERET', 'TKINUT', 'ROHAV', 'SIMUN_TIMRUR', 'TEURA',
       'MEZEG_AVIR', 'PNE_KVISH', 'SUG_EZEM', 'MERHAK_EZEM', 'LO_HAZA',
       'OFEN_HAZIYA', 'MEKOM_HAZIYA', 'KIVUN_HAZIYA', 'MAHOZ', 'NAFA',
       'EZOR_TIVI', 'MAAMAD_MINIZIPALI', 'ZURAT_ISHUV', 'STATUS_IGUN', 'X',
       'Y'],
      dtype='object')
   pk_teuna_fikt  sug_tik  THUM_GEOGRAFI  SUG_DEREH  SEMEL_YISHUV  REHOV1  \
0     2018000004        1              1          1           841   104.0
1     2018000018        1              1          1          4000   896.0
2     2018000030        1              1          1          7100  1035.0
3     2018000037        1              1          4             0     NaN
4     2018000049        1              1          3             0     NaN

   REHOV2  BAYIT  ZOMET_IRONI  KVISH1  ...  MEKOM_HAZIYA  KIVUN_HAZIYA  MAHOZ  \
0   105.0    NaN          2.0     NaN  ...             0             9      4
1   825.0    NaN   10210522.0     NaN  ...             0             9      3
2   496.0    NaN   10800341.0     NaN  ...             0             9      6
3     NaN    NaN          NaN    91.0  ...             0             9      9
4     NaN    NaN          NaN     4.0  ...             0             9      9

   NAFA  EZOR_TIVI  MAAMAD_MINIZIPALI  ZURAT_ISHUV  STATUS_IGUN         X  \
0    42        421               20.0           31            1  193498.0
1    31        311                0.0           13            1  200041.0
2    61        614                0.0           14            1  161755.0
3    99        999               99.0           99            1  258984.0
4    99        999               99.0           99            1  203320.0

          Y
0  673585.0
1  746160.0
2  620861.0
3  768332.0
4  743957.0

[5 rows x 45 columns]


Year 2018 - Accident Data: h20181331dictionary.csv
Accident Data Columns:
Index(['MS_TAVLA', 'KOD', 'TEUR'], dtype='object')
   MS_TAVLA  KOD           TEUR
0         0    1  יחידה משטרתית
1         0    2       סוג הדרך

In [178]:
def standardize_accident_columns(df):
    column_mapping = {
        'HODESH_TEUNA': 'hodesh',
        'SHAA': 'shaa',
        'YOM_BASHAVUA': 'yom_bashavua',
        'HUMRAT_TEUNA': 'humrat_teuna',
        'KVISH1': 'kvish1',
        'KVISH2': 'kvish2',
        'X': 'x_coord',
        'Y': 'y_coord',
        # Add more mappings if necessary based on your data inspection
    }
    df.rename(columns=column_mapping, inplace=True)
    return df

# Test the function on one of the accident files
sample_year = '2014'
accident_sample_path = os.path.join(base_dir, sample_year, 'accidents', 'H20141332Accdatamekuzar.csv')
accident_sample_df = pd.read_csv(accident_sample_path, encoding='ISO-8859-8')

# Standardize the column names
standardized_accident_df = standardize_accident_columns(accident_sample_df)

# Display the standardized columns
print(standardized_accident_df.columns)
print(standardized_accident_df.head())

Index(['pk_teuna_fikt', 'sug_tik', 'THUM_GEOGRAFI', 'SUG_DEREH',
       'SEMEL_YISHUV', 'REHOV1', 'REHOV2', 'BAYIT', 'ZOMET_IRONI', 'kvish1',
       'kvish2', 'KM', 'ZOMET_LO_IRONI', 'YEHIDA', 'SHNAT_TEUNA', 'hodesh',
       'shaa', 'SUG_YOM', 'YOM_LAYLA', 'yom_bashavua', 'humrat_teuna',
       'SUG_TEUNA', 'HAD_MASLUL', 'RAV_MASLUL', 'MEHIRUT_MUTERET', 'TKINUT',
       'ROHAV', 'SIMUN_TIMRUR', 'TEURA', 'MEZEG_AVIR', 'PNE_KVISH', 'SUG_EZEM',
       'MERHAK_EZEM', 'LO_HAZA', 'OFEN_HAZIYA', 'MEKOM_HAZIYA', 'KIVUN_HAZIYA',
       'MAHOZ', 'NAFA', 'EZOR_TIVI', 'MAAMAD_MINIZIPALI', 'ZURAT_ISHUV',
       'STATUS_IGUN', 'x_coord', 'y_coord'],
      dtype='object')
   pk_teuna_fikt  sug_tik  THUM_GEOGRAFI  SUG_DEREH  SEMEL_YISHUV  REHOV1  \
0     2014000001        1              1          1          7400   303.0
1     2014000002        1              1          2          2650   390.0
2     2014000003        1              1          4             0     NaN
3     2014000004        1              1          1          5000  1555.0
4     2014000006        1              1          2          7600   505.0

   REHOV2   BAYIT  ZOMET_IRONI  kvish1  ...  MEKOM_HAZIYA  KIVUN_HAZIYA  \
0   306.0     NaN     260021.0     NaN  ...             3             1
1     NaN  9999.0          NaN     NaN  ...             3             9
2     NaN     NaN          NaN    20.0  ...             2             2
3  1511.0     NaN   11920611.0     NaN  ...             3             1
4     NaN    19.0          NaN     NaN  ...             3             1

   MAHOZ  NAFA  EZOR_TIVI  MAAMAD_MINIZIPALI  ZURAT_ISHUV  STATUS_IGUN  \
0      4    41        411                0.0           13            1
1      5    51        511                0.0           16            3
2      5    53        513               99.0           99            1
3      5    51        511                0.0           13            1
4      2    24        246                0.0           16            1

    x_coord   y_coord
0  187117.0  693833.0
1  185113.0  672015.0
2  177520.0  659502.0
3  179727.0  663713.0
4  207503.0  759266.0

[5 rows x 45 columns]

In [179]:
# List of years to process
years = ['2014', '2015', '2016', '2017', '2018', '2020', '2021']

# Initialize an empty list to hold the standardized DataFrames
accident_dfs = []

# Loop through each year and process the accident data
for year in years:
    # Define the path to the accident data for the current year
    accident_path = os.path.join(base_dir, year, 'accidents')
    
    try:
        # Get all CSV files in the accident directory
        accident_files = [f for f in os.listdir(accident_path) if f.endswith('.csv')]
        
        for file in accident_files:
            # Load the accident data
            accident_df = pd.read_csv(os.path.join(accident_path, file), encoding='ISO-8859-8')
            
            # Standardize the column names
            standardized_accident_df = standardize_accident_columns(accident_df)
            
            # Add a column for the year
            standardized_accident_df['year'] = year
            
            # Append the standardized DataFrame to the list
            accident_dfs.append(standardized_accident_df)
    
    except FileNotFoundError:
        print(f"Accident data folder not found for year {year}")

# Concatenate all standardized DataFrames into one
combined_accident_df = pd.concat(accident_dfs, ignore_index=True)

# Display the combined DataFrame to ensure everything looks good
print(combined_accident_df.columns)
print(combined_accident_df.head())
print(combined_accident_df.shape)  # Check the size of the combined DataFrame

Index(['pk_teuna_fikt', 'sug_tik', 'THUM_GEOGRAFI', 'SUG_DEREH',
       'SEMEL_YISHUV', 'REHOV1', 'REHOV2', 'BAYIT', 'ZOMET_IRONI', 'kvish1',
       'kvish2', 'KM', 'ZOMET_LO_IRONI', 'YEHIDA', 'SHNAT_TEUNA', 'hodesh',
       'shaa', 'SUG_YOM', 'YOM_LAYLA', 'yom_bashavua', 'humrat_teuna',
       'SUG_TEUNA', 'HAD_MASLUL', 'RAV_MASLUL', 'MEHIRUT_MUTERET', 'TKINUT',
       'ROHAV', 'SIMUN_TIMRUR', 'TEURA', 'MEZEG_AVIR', 'PNE_KVISH', 'SUG_EZEM',
       'MERHAK_EZEM', 'LO_HAZA', 'OFEN_HAZIYA', 'MEKOM_HAZIYA', 'KIVUN_HAZIYA',
       'MAHOZ', 'NAFA', 'EZOR_TIVI', 'MAAMAD_MINIZIPALI', 'ZURAT_ISHUV',
       'STATUS_IGUN', 'x_coord', 'y_coord', 'year', 'MS_TAVLA', 'KOD', 'TEUR'],
      dtype='object')
   pk_teuna_fikt  sug_tik  THUM_GEOGRAFI  SUG_DEREH  SEMEL_YISHUV  REHOV1  \
0   2.014000e+09      1.0            1.0        1.0        7400.0   303.0
1   2.014000e+09      1.0            1.0        2.0        2650.0   390.0
2   2.014000e+09      1.0            1.0        4.0           0.0     NaN
3   2.014000e+09      1.0            1.0        1.0        5000.0  1555.0
4   2.014000e+09      1.0            1.0        2.0        7600.0   505.0

   REHOV2   BAYIT  ZOMET_IRONI  kvish1  ...  EZOR_TIVI  MAAMAD_MINIZIPALI  \
0   306.0     NaN     260021.0     NaN  ...      411.0                0.0
1     NaN  9999.0          NaN     NaN  ...      511.0                0.0
2     NaN     NaN          NaN    20.0  ...      513.0               99.0
3  1511.0     NaN   11920611.0     NaN  ...      511.0                0.0
4     NaN    19.0          NaN     NaN  ...      246.0                0.0

   ZURAT_ISHUV  STATUS_IGUN   x_coord   y_coord  year  MS_TAVLA  KOD  TEUR
0         13.0          1.0  187117.0  693833.0  2014       NaN  NaN   NaN
1         16.0          3.0  185113.0  672015.0  2014       NaN  NaN   NaN
2         99.0          1.0  177520.0  659502.0  2014       NaN  NaN   NaN
3         13.0          1.0  179727.0  663713.0  2014       NaN  NaN   NaN
4         16.0          1.0  207503.0  759266.0  2014       NaN  NaN   NaN

[5 rows x 49 columns]
(92887, 49)

In [180]:
# Function to standardize traffic count columns
def standardize_traffic_columns(df):
    column_mapping = {
        'shana': 'year',
        'kvish': 'kvish',
        'keta': 'keta',
        'maslul': 'maslul',
        'hodesh': 'hodesh',
        'taarich': 'taarich',
        'yom': 'yom',
        'shaa': 'shaa',
        'nefah': 'kamut_kle_rehev',  # Assuming 'nefah' is the traffic count
        'status': 'status_reshuma',
        # Add any additional mappings needed to standardize columns across different years
    }
    df = df.rename(columns=column_mapping)
    return df

In [181]:
# Function to standardize accident data columns
def standardize_accident_columns(df):
    column_mapping = {
        'pk_teuna_fikt': 'pk_teuna_fikt',
        'sug_tik': 'sug_tik',
        'THUM_GEOGRAFI': 'THUM_GEOGRAFI',
        'SUG_DEREH': 'SUG_DEREH',
        'SEMEL_YISHUV': 'SEMEL_YISHUV',
        'REHOV1': 'REHOV1',
        'REHOV2': 'REHOV2',
        'BAYIT': 'BAYIT',
        'ZOMET_IRONI': 'ZOMET_IRONI',
        'kvish1': 'kvish1',
        'kvish2': 'kvish2',
        'KM': 'KM',
        'ZOMET_LO_IRONI': 'ZOMET_LO_IRONI',
        'YEHIDA': 'YEHIDA',
        'SHNAT_TEUNA': 'SHNAT_TEUNA',
        'hodesh': 'hodesh',
        'shaa': 'shaa',
        'SUG_YOM': 'SUG_YOM',
        'YOM_LAYLA': 'YOM_LAYLA',
        'yom_bashavua': 'yom_bashavua',
        'humrat_teuna': 'humrat_teuna',
        'SUG_TEUNA': 'SUG_TEUNA',
        'HAD_MASLUL': 'HAD_MASLUL',
        'RAV_MASLUL': 'RAV_MASLUL',
        'MEHIRUT_MUTERET': 'MEHIRUT_MUTERET',
        'TKINUT': 'TKINUT',
        'ROHAV': 'ROHAV',
        'SIMUN_TIMRUR': 'SIMUN_TIMRUR',
        'TEURA': 'TEURA',
        'MEZEG_AVIR': 'MEZEG_AVIR',
        'PNE_KVISH': 'PNE_KVISH',
        'SUG_EZEM': 'SUG_EZEM',
        'MERHAK_EZEM': 'MERHAK_EZEM',
        'LO_HAZA': 'LO_HAZA',
        'OFEN_HAZIYA': 'OFEN_HAZIYA',
        'MEKOM_HAZIYA': 'MEKOM_HAZIYA',
        'KIVUN_HAZIYA': 'KIVUN_HAZIYA',
        'MAHOZ': 'MAHOZ',
        'NAFA': 'NAFA',
        'EZOR_TIVI': 'EZOR_TIVI',
        'MAAMAD_MINIZIPALI': 'MAAMAD_MINIZIPALI',
        'ZURAT_ISHUV': 'ZURAT_ISHUV',
        'STATUS_IGUN': 'STATUS_IGUN',
        'x_coord': 'X',
        'y_coord': 'Y',
        'year': 'year',
        'MS_TAVLA': 'MS_TAVLA',
        'KOD': 'KOD',
        'TEUR': 'TEUR',
        # Add any additional mappings needed
    }
    df = df.rename(columns=column_mapping)
    return df

In [182]:
# Apply the standardization function to the accident data
standardized_accident_df = standardize_accident_columns(accident_df)

# Display the standardized DataFrame
print("Standardized Accident Data:")
print(standardized_accident_df.head())
print(standardized_accident_df.columns)

Standardized Accident Data:
   pk_teuna_fikt  sug_tik  THUM_GEOGRAFI  SUG_DEREH  SEMEL_YISHUV  REHOV1  \
0     2020031644        1              1          1          1061   159.0
1     2020079871        1              1          4             0     NaN
2     2020081980        1              1          1          3000  1105.0
3     2021000007        1              1          1          4000  1394.0
4     2021000010        1              1          3             0     NaN

   REHOV2  BAYIT  ZOMET_IRONI  kvish1  ...  KIVUN_HAZIYA  MAHOZ  NAFA  \
0   275.0    NaN    7840004.0     NaN  ...             1      2    23
1     NaN    NaN          NaN  8966.0  ...             9      2    21
2  1307.0    NaN   26640236.0     NaN  ...             9      1    11
3  1391.0    NaN   17000742.0     NaN  ...             9      3    31
4     NaN    NaN          NaN    89.0  ...             9      2    45

   EZOR_TIVI  MAAMAD_MINIZIPALI  ZURAT_ISHUV  STATUS_IGUN         X         Y  \
0        237                0.0           16            1  230441.0  734148.0
1        212               99.0           99            1  245802.0  772308.0
2        111                0.0           12            1  218356.0  629343.0
3        311                0.0           13            1  201379.0  742666.0
4        245               99.0           99            1  216335.0  768965.0

   year
0  2021
1  2021
2  2021
3  2021
4  2021

[5 rows x 46 columns]
Index(['pk_teuna_fikt', 'sug_tik', 'THUM_GEOGRAFI', 'SUG_DEREH',
       'SEMEL_YISHUV', 'REHOV1', 'REHOV2', 'BAYIT', 'ZOMET_IRONI', 'kvish1',
       'kvish2', 'KM', 'ZOMET_LO_IRONI', 'YEHIDA', 'SHNAT_TEUNA', 'hodesh',
       'shaa', 'SUG_YOM', 'YOM_LAYLA', 'yom_bashavua', 'humrat_teuna',
       'SUG_TEUNA', 'HAD_MASLUL', 'RAV_MASLUL', 'MEHIRUT_MUTERET', 'TKINUT',
       'ROHAV', 'SIMUN_TIMRUR', 'TEURA', 'MEZEG_AVIR', 'PNE_KVISH', 'SUG_EZEM',
       'MERHAK_EZEM', 'LO_HAZA', 'OFEN_HAZIYA', 'MEKOM_HAZIYA', 'KIVUN_HAZIYA',
       'MAHOZ', 'NAFA', 'EZOR_TIVI', 'MAAMAD_MINIZIPALI', 'ZURAT_ISHUV',
       'STATUS_IGUN', 'X', 'Y', 'year'],
      dtype='object')

In [183]:
# Initialize an empty DataFrame to hold the combined data
combined_accident_data = pd.DataFrame()

# Concatenate the standardized data to the combined DataFrame
combined_accident_data = pd.concat([combined_accident_data, standardized_accident_df], ignore_index=True)

# Display the combined DataFrame to ensure it was appended correctly
print("Combined Accident Data:")
print(combined_accident_data.head())
print(combined_accident_data.shape)

Combined Accident Data:
   pk_teuna_fikt  sug_tik  THUM_GEOGRAFI  SUG_DEREH  SEMEL_YISHUV  REHOV1  \
0     2020031644        1              1          1          1061   159.0
1     2020079871        1              1          4             0     NaN
2     2020081980        1              1          1          3000  1105.0
3     2021000007        1              1          1          4000  1394.0
4     2021000010        1              1          3             0     NaN

   REHOV2  BAYIT  ZOMET_IRONI  kvish1  ...  KIVUN_HAZIYA  MAHOZ  NAFA  \
0   275.0    NaN    7840004.0     NaN  ...             1      2    23
1     NaN    NaN          NaN  8966.0  ...             9      2    21
2  1307.0    NaN   26640236.0     NaN  ...             9      1    11
3  1391.0    NaN   17000742.0     NaN  ...             9      3    31
4     NaN    NaN          NaN    89.0  ...             9      2    45

   EZOR_TIVI  MAAMAD_MINIZIPALI  ZURAT_ISHUV  STATUS_IGUN         X         Y  \
0        237                0.0           16            1  230441.0  734148.0
1        212               99.0           99            1  245802.0  772308.0
2        111                0.0           12            1  218356.0  629343.0
3        311                0.0           13            1  201379.0  742666.0
4        245               99.0           99            1  216335.0  768965.0

   year
0  2021
1  2021
2  2021
3  2021
4  2021

[5 rows x 46 columns]
(11554, 46)

In [184]:
# List of years to include in the combined dataset
years = ['2014', '2015', '2016', '2017', '2018', '2020', '2021']

# Initialize an empty DataFrame to hold the combined data
combined_accident_data = pd.DataFrame()

# Loop through each year and process the data
for year in years:
    print(f"Processing data for year {year}...")
    
    # Load the standardized data for the current year (using the same standardization steps)
    accident_path = os.path.join(base_dir, year, 'accidents')
    
    # Assuming each year has a similar file structure and column names
    accident_files = [f for f in os.listdir(accident_path) if f.endswith('.csv')]
    
    for file in accident_files:
        accident_df = pd.read_csv(os.path.join(accident_path, file), encoding='ISO-8859-8')
        
        # Standardize the column names and add the year
        standardized_accident_df = accident_df.rename(columns=str.lower).copy()
        standardized_accident_df['year'] = int(year)
        
        # Append the standardized data to the combined DataFrame
        combined_accident_data = pd.concat([combined_accident_data, standardized_accident_df], ignore_index=True)

# Display the combined DataFrame to ensure all data was appended correctly
print("Combined Accident Data from All Years:")
print(combined_accident_data.head())
print(combined_accident_data.shape)

Processing data for year 2014...
Processing data for year 2015...
Processing data for year 2016...
Processing data for year 2017...
Processing data for year 2018...
Processing data for year 2020...
Processing data for year 2021...
Combined Accident Data from All Years:
   pk_teuna_fikt  sug_tik  thum_geografi  sug_dereh  semel_yishuv  rehov1  \
0   2.014000e+09      1.0            1.0        1.0        7400.0   303.0
1   2.014000e+09      1.0            1.0        2.0        2650.0   390.0
2   2.014000e+09      1.0            1.0        4.0           0.0     NaN
3   2.014000e+09      1.0            1.0        1.0        5000.0  1555.0
4   2.014000e+09      1.0            1.0        2.0        7600.0   505.0

   rehov2   bayit  zomet_ironi  kvish1  ...  ezor_tivi  maamad_minizipali  \
0   306.0     NaN     260021.0     NaN  ...      411.0                0.0
1     NaN  9999.0          NaN     NaN  ...      511.0                0.0
2     NaN     NaN          NaN    20.0  ...      513.0               99.0
3  1511.0     NaN   11920611.0     NaN  ...      511.0                0.0
4     NaN    19.0          NaN     NaN  ...      246.0                0.0

   zurat_ishuv  status_igun         x         y  year  ms_tavla  kod  teur
0         13.0          1.0  187117.0  693833.0  2014       NaN  NaN   NaN
1         16.0          3.0  185113.0  672015.0  2014       NaN  NaN   NaN
2         99.0          1.0  177520.0  659502.0  2014       NaN  NaN   NaN
3         13.0          1.0  179727.0  663713.0  2014       NaN  NaN   NaN
4         16.0          1.0  207503.0  759266.0  2014       NaN  NaN   NaN

[5 rows x 49 columns]
(92887, 49)

In [185]:
# Define the output path for the combined data
output_path = os.path.join(base_dir, 'combined_accident_data1.csv')

# Save the combined data to a CSV file
combined_accident_data.to_csv(output_path, index=False)

# Confirm the file has been saved
print(f"Combined accident data saved to {output_path}")

Combined accident data saved to c:\Users\mousa\Desktop\College\SHANA DALET\GIS\FINAL PROJECT GIT\QGIS-Traffic-Accidents-IL\DATA\combined_accident_data1.csv

NOW WE HAVE ALL THE YEARS ACCIDENT DATA IN ONE FILE NOW WE NEED TO PROCEED WITH DOING THE SAME FOR THE TRAFFIC COUNTS

In [186]:
import pandas as pd
import os

# Define the base directory where the data is stored
base_dir = '../'

# Load the traffic count data for each year
traffic_counts_2014 = pd.read_csv(os.path.join(base_dir, '2014/count/2014109h1tabmef.csv'))
traffic_counts_2015 = pd.read_csv(os.path.join(base_dir, '2015/count/H20151091TabMef_1.csv'))
traffic_counts_2016 = pd.read_csv(os.path.join(base_dir, '2016/count/H20161091TabMef.csv'))
traffic_counts_2017 = pd.read_csv(os.path.join(base_dir, '2017/count/h20171092tabmef.csv'))
traffic_counts_2018 = pd.read_csv(os.path.join(base_dir, '2018/count/2018109H1TabMef.csv'))
traffic_counts_2020 = pd.read_csv(os.path.join(base_dir, '2020/count/H20201091/H20201091TabMef.csv'))
traffic_counts_2021 = pd.read_csv(os.path.join(base_dir, '2021/count/H20211092TabMef.csv'))

# Inspect the first few rows of each traffic count dataset to understand their structure
print("Traffic Counts 2014:")
print(traffic_counts_2014.head())

print("\nTraffic Counts 2015:")
print(traffic_counts_2015.head())

print("\nTraffic Counts 2016:")
print(traffic_counts_2016.head())

print("\nTraffic Counts 2017:")
print(traffic_counts_2017.head())

print("\nTraffic Counts 2018:")
print(traffic_counts_2018.head())

print("\nTraffic Counts 2020:")
print(traffic_counts_2020.head())

print("\nTraffic Counts 2021:")
print(traffic_counts_2021.head())

Traffic Counts 2014:
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2014      1    10       1       9        7    1     0   1936     NaN
1   2014      1    10       1       9        7    1     1    966     NaN
2   2014      1    10       1       9        7    1     2    737     NaN
3   2014      1    10       1       9        7    1     3    596     NaN
4   2014      1    10       1       9        7    1     4    479     NaN

Traffic Counts 2015:
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2015      1    10       1       6       15    2     0   1346     NaN
1   2015      1    10       1       6       15    2     1    788     NaN
2   2015      1    10       1       6       15    2     2    626     NaN
3   2015      1    10       1       6       15    2     3    652     NaN
4   2015      1    10       1       6       15    2     4    597     NaN

Traffic Counts 2016:
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2016      1    10       1       9       11    1     0   1710     NaN
1   2016      1    10       1       9       11    1     1    934     NaN
2   2016      1    10       1       9       11    1     2    800     NaN
3   2016      1    10       1       9       11    1     3    637     NaN
4   2016      1    10       1       9       11    1     4    588     NaN

Traffic Counts 2017:
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2017      1    52       1       2        5    1     0    839     NaN
1   2017      1    52       1       2        5    1     1    459     NaN
2   2017      1    52       1       2        5    1     2    338     NaN
3   2017      1    52       1       2        5    1     3    318     NaN
4   2017      1    52       1       2        5    1     4    403     NaN

Traffic Counts 2018:
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  nefah  status
0   2018      1    54       1       6       14    5     0   1018     NaN
1   2018      1    54       1       6       14    5     1    814     NaN
2   2018      1    54       1       6       14    5     2    450     NaN
3   2018      1    54       1       6       14    5     3    415     NaN
4   2018      1    54       1       6       14    5     4    471     NaN

Traffic Counts 2020:
   shana  kvish  keta  maslul  hodesh  taarich  yom  shaa  kamut  status
0   2020      1    20       1      12        2    4     0   1123     NaN
1   2020      1    20       1      12        2    4     1    557     NaN
2   2020      1    20       1      12        2    4     2    376     NaN
3   2020      1    20       1      12        2    4     3    300     NaN
4   2020      1    20       1      12        2    4     4    376     NaN

Traffic Counts 2021:
   shnat_seker  kvish  keta  maslul  hodesh  yom  yom_bashavua  shaa  \
0       2021.0    1.0  20.0     1.0     7.0  6.0           3.0   0.0
1       2021.0    1.0  20.0     1.0     7.0  6.0           3.0   1.0
2       2021.0    1.0  20.0     1.0     7.0  6.0           3.0   2.0
3       2021.0    1.0  20.0     1.0     7.0  6.0           3.0   3.0
4       2021.0    1.0  20.0     1.0     7.0  6.0           3.0   4.0

   kamut_kle_rehev  status_reshuma
0           1486.0             NaN
1           1170.0             NaN
2            795.0             NaN
3            601.0             NaN
4           1134.0             NaN

In [187]:
# Function to standardize traffic count columns
def standardize_traffic_columns(df):
    column_mapping = {
        'shana': 'year',
        'shnat_seker': 'year',
        'kvish': 'kvish',
        'keta': 'keta',
        'maslul': 'maslul',
        'hodesh': 'hodesh',
        'taarich': 'taarich',
        'yom': 'yom',
        'shaa': 'shaa',
        'nefah': 'kamut_kle_rehev',  # Assuming 'nefah' represents traffic count
        'kamut': 'kamut_kle_rehev',
        'kamut_kle_rehev': 'kamut_kle_rehev',
        'status': 'status_reshuma',
        'status_reshuma': 'status_reshuma',
        # Add any other mappings necessary
    }
    df = df.rename(columns=column_mapping)
    return df

# Standardize each dataset
traffic_counts_2014 = standardize_traffic_columns(traffic_counts_2014)
traffic_counts_2015 = standardize_traffic_columns(traffic_counts_2015)
traffic_counts_2016 = standardize_traffic_columns(traffic_counts_2016)
traffic_counts_2017 = standardize_traffic_columns(traffic_counts_2017)
traffic_counts_2018 = standardize_traffic_columns(traffic_counts_2018)
traffic_counts_2020 = standardize_traffic_columns(traffic_counts_2020)
traffic_counts_2021 = standardize_traffic_columns(traffic_counts_2021)

# Concatenate all standardized traffic count data into one DataFrame
combined_traffic_counts = pd.concat([
    traffic_counts_2014,
    traffic_counts_2015,
    traffic_counts_2016,
    traffic_counts_2017,
    traffic_counts_2018,
    traffic_counts_2020,
    traffic_counts_2021
], ignore_index=True)

# Display the combined DataFrame to ensure it was appended correctly
print("Combined Traffic Count Data:")
print(combined_traffic_counts.head())
print(combined_traffic_counts.shape)  # Check the size of the combined DataFrame

Combined Traffic Count Data:
     year  kvish  keta  maslul  hodesh  taarich  yom  shaa  kamut_kle_rehev  \
0  2014.0    1.0  10.0     1.0     9.0      7.0  1.0   0.0           1936.0
1  2014.0    1.0  10.0     1.0     9.0      7.0  1.0   1.0            966.0
2  2014.0    1.0  10.0     1.0     9.0      7.0  1.0   2.0            737.0
3  2014.0    1.0  10.0     1.0     9.0      7.0  1.0   3.0            596.0
4  2014.0    1.0  10.0     1.0     9.0      7.0  1.0   4.0            479.0

   status_reshuma  yom_bashavua
0             NaN           NaN
1             NaN           NaN
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN
(866881, 11)

MANAGING MISSING DATA(yom bashuva)
by calculating it

In [188]:
from datetime import datetime

# Function to calculate yom_bashavua with Sunday as 1, Monday as 2, ..., Saturday as 7
def calculate_yom_bashavua(row):
    try:
        # Create a date object from year, month, and day
        date = datetime(int(row['year']), int(row['hodesh']), int(row['taarich']))
        # Adjust so Sunday=1, Monday=2, ..., Saturday=7
        yom_bashavua = (date.weekday() + 1) % 7 + 1
        return yom_bashavua
    except ValueError:
        return None

# Apply the function to the dataframe
combined_traffic_counts['yom_bashavua'] = combined_traffic_counts.apply(calculate_yom_bashavua, axis=1)

# Display the dataframe with the newly calculated yom_bashavua
print(combined_traffic_counts[['year', 'hodesh', 'taarich', 'yom_bashavua']].drop_duplicates().head(100))

         year  hodesh  taarich  yom_bashavua
0      2014.0     9.0      7.0           1.0
24     2014.0     9.0      8.0           2.0
48     2014.0     9.0      9.0           3.0
72     2014.0     9.0     10.0           4.0
96     2014.0     9.0     11.0           5.0
...       ...     ...      ...           ...
8520   2014.0    12.0     28.0           1.0
8544   2014.0    12.0     29.0           2.0
8568   2014.0    12.0     22.0           2.0
13776  2014.0     4.0      4.0           6.0
13800  2014.0     4.0      5.0           7.0

[100 rows x 4 columns]

In [189]:
import pandas as pd
import os

# Define the base directory where your road segment data is stored
base_dir = '../'

# Load road segment data with coordinates, specifying the encoding
road_segments_2016 = pd.read_csv(os.path.join(base_dir, '2016/count/H20161091RoadsNonUrban.csv'), encoding='ISO-8859-8')
road_segments_2017 = pd.read_csv(os.path.join(base_dir, '2017/count/h20171092roadsnonurban.csv'), encoding='ISO-8859-8')
road_segments_2018 = pd.read_excel(os.path.join(base_dir, '2018/count/H20181091RoadsNonUrban.xls'))
road_segments_2020 = pd.read_excel(os.path.join(base_dir, '2020/count/H20201091RoadsNonUrban.xls'))
road_segments_2021 = pd.read_excel(os.path.join(base_dir, '2021/count/H20211092RoadsNonUrban.xls'))

# Function to standardize road segment columns
def standardize_road_segment_columns(df):
    column_mapping = {
        'כביש': 'kvish',
        'קטע': 'keta',
        'ק"מ מ-': 'km_start',
        'שם מ-': 'name_start',
        'ק"מ עד': 'km_end',
        'שם עד': 'name_end',
        'ק"מ הצבה': 'km_mark',
        'X של מקום ההצבה': 'X',
        'Y של מקום ההצבה': 'Y',
        'x': 'X',
        'y': 'Y'
    }
    df = df.rename(columns=column_mapping)
    return df[['kvish', 'keta', 'X', 'Y']]  # Keep only relevant columns

# Standardize and concatenate the data (excluding 2015)
road_segments_2016 = standardize_road_segment_columns(road_segments_2016)
road_segments_2017 = standardize_road_segment_columns(road_segments_2017)
road_segments_2018 = standardize_road_segment_columns(road_segments_2018)
road_segments_2020 = standardize_road_segment_columns(road_segments_2020)
road_segments_2021 = standardize_road_segment_columns(road_segments_2021)

# Concatenate the data into a single DataFrame
combined_road_segments = pd.concat([
    road_segments_2016,
    road_segments_2017,
    road_segments_2018,
    road_segments_2020,
    road_segments_2021
], ignore_index=True)
combined_road_segments = combined_road_segments.dropna(subset=['X', 'Y'])

# Display the combined DataFrame to ensure everything is correct
print("Combined Road Segments Data:")
print(combined_road_segments.head())
print(combined_road_segments.shape)  # Check the size of the combined DataFrame

Combined Road Segments Data:
   kvish  keta         X         Y
1      1    52  193638.0  647061.0
3      1    60  200817.0  636966.0
4      2    70  192262.0  714572.0
5      2    80  195812.0  734655.0
6      3    10  163509.0  620663.0
(2357, 4)

In [190]:
import pandas as pd
import os

# Define the base directory where your road segment data is stored
base_dir = '../'

# Load traffic count data
traffic_counts = {
    '2016': pd.read_csv(os.path.join(base_dir, '2016/count/H20161091TabMef.csv')),
    '2017': pd.read_csv(os.path.join(base_dir, '2017/count/h20171092tabmef.csv')),
    '2018': pd.read_csv(os.path.join(base_dir, '2018/count/2018109H1TabMef.csv')),
    '2020': pd.read_csv(os.path.join(base_dir, '2020/count/H20201091TabMef.csv')),
    '2021': pd.read_csv(os.path.join(base_dir, '2021/count/H20211092TabMef.csv')),
}

# Load road segment data
road_segments = {
    '2016': pd.read_csv(os.path.join(base_dir, '2016/count/H20161091RoadsNonUrban.csv'), encoding='ISO-8859-8'),
    '2017': pd.read_csv(os.path.join(base_dir, '2017/count/h20171092roadsnonurban.csv'), encoding='ISO-8859-8'),
    '2018': pd.read_excel(os.path.join(base_dir, '2018/count/H20181091RoadsNonUrban.xls')),
    '2020': pd.read_excel(os.path.join(base_dir, '2020/count/H20201091RoadsNonUrban.xls')),
    '2021': pd.read_excel(os.path.join(base_dir, '2021/count/H20211092RoadsNonUrban.xls')),
}

# Function to standardize road segment columns
def standardize_road_segment_columns(df):
    column_mapping = {
        'כביש': 'kvish',
        'קטע': 'keta',
        'X של מקום ההצבה': 'X',
        'Y של מקום ההצבה': 'Y',
        'x': 'X',
        'y': 'Y'
    }
    df = df.rename(columns=column_mapping)
    return df[['kvish', 'keta', 'X', 'Y']]

# Function to standardize traffic count columns
def standardize_traffic_columns(df):
    column_mapping = {
        'shana': 'year',
        'shnat_seker': 'year',
        'kvish': 'kvish',
        'keta': 'keta',
        'maslul': 'maslul',
        'hodesh': 'hodesh',
        'taarich': 'taarich',
        'yom': 'yom',
        'yom_bashavua': 'yom',  # Standardize yom_bashavua to yom
        'shaa': 'shaa',
        'nefah': 'kamut_kle_rehev',  # Standardize nefah to kamut_kle_rehev
        'kamut': 'kamut_kle_rehev',
        'kamut_kle_rehev': 'kamut_kle_rehev',
        'status': 'status_reshuma',
        'status_reshuma': 'status_reshuma',
    }
    df = df.rename(columns=column_mapping)
    return df

# Standardize road segment columns
for year in road_segments:
    road_segments[year] = standardize_road_segment_columns(road_segments[year])

# Standardize traffic count columns
for year in traffic_counts:
    traffic_counts[year] = standardize_traffic_columns(traffic_counts[year])

# Merge traffic counts with road segments for each year
merged_traffic_counts = {}
for year in traffic_counts:
    merged_data = pd.merge(traffic_counts[year], road_segments[year], on=['kvish', 'keta'], how='left')
    merged_data = merged_data.dropna(subset=['X', 'Y'])
    merged_data = merged_data.reset_index(drop=True)  # Reset index to ensure unique index values
    merged_traffic_counts[year] = merged_data

# Check for duplicated columns and resolve them
for year in merged_traffic_counts:
    cols_to_drop = merged_traffic_counts[year].columns.duplicated(keep=False)
    merged_traffic_counts[year] = merged_traffic_counts[year].loc[:, ~cols_to_drop]

# Concatenate all years together
combined_traffic_counts = pd.concat(merged_traffic_counts.values(), ignore_index=True)

# Export the merged data to a CSV file
output_path = os.path.join(base_dir, 'combined_traffic_counts_with_coordinates.csv')
combined_traffic_counts.to_csv(output_path, index=False)

# Display the combined DataFrame to ensure everything is correct
print("Combined Traffic Count Data with Coordinates:")
print(combined_traffic_counts.head())
print(combined_traffic_counts.shape)  # Check the size of the combined DataFrame

Combined Traffic Count Data with Coordinates:
     year  kvish  keta  maslul  hodesh  taarich  yom  shaa  kamut_kle_rehev  \
0  2016.0    1.0  52.0     1.0     9.0     11.0  1.0   0.0           1134.0
1  2016.0    1.0  52.0     1.0     9.0     11.0  1.0   1.0            630.0
2  2016.0    1.0  52.0     1.0     9.0     11.0  1.0   2.0            500.0
3  2016.0    1.0  52.0     1.0     9.0     11.0  1.0   3.0            338.0
4  2016.0    1.0  52.0     1.0     9.0     11.0  1.0   4.0            392.0

   status_reshuma         X         Y
0             NaN  193638.0  647061.0
1             NaN  193638.0  647061.0
2             NaN  193638.0  647061.0
3             NaN  193638.0  647061.0
4             NaN  193638.0  647061.0
(621432, 12)